* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #333333;
}
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}
.calculator-container {
    width: 100%;
    height: 100%;
    padding: 0 2px;
}
.calculator-history--button i {
    font-size: 2rem;
    color: white;
}
.calculator-container--display  {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
    padding: 35px 20px;
}
.calculator-history--button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 20px 0;
}
.calculator-history--button h1 {
    font-size: 2rem;
    color: white;
}
.calculator-history--button-inshow {
    padding: 35px 20px;
}
.calculator-history--button-inshow i {
    font-size: 2.4rem;
}
.calculator-display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    padding: 10px;
    background-color: aquamarine;
}
::-webkit-scrollbar {
    display: none;
}
.calculator-display--save {
    width: 100%;
    overflow-x: scroll;
    font-size: 1.4rem;
    text-align: end;
    scrollbar-width: none;
}
.calculator-display--sign {
    width: 100%;
    font-size: 1.8rem;
    text-align: end;
}
.calculator-display--number {
    width: 100%;
    overflow-x: scroll;
    font-size: 3.2rem;
    text-align: end;
    scrollbar-width: none;
}
.calculator-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 65%;
    padding: 35px 20px;
}
.calculator-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: 2px solid #333333;
    width: 20%;
    height: 25%;
    background-color: white;
}
.calculator-button--clear {
    background-color: red;
    color: white;
}
.calculator-button--sign {
    background-color: yellow;
    color: black;
}
.calculator-button--others {
    background-color: orange;
    color: white;
}
.calculator-button--equal {
    background-color: cornflowerblue;
    color: white;
    height: 50%;
}
.calculator-history {
    position: fixed;
    margin-left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #333333;
}
.calculator-history--show {
    margin-left: 0;
    transition: 0.5s;
}  
.calculator-history--item {
    padding: 20px; 
    border-top: 1px solid white;
    color: white;
}
.calculator-history--item p {
    font-size: 1.8rem;
}
.none-histories--none {
    display: none;
}
@media only screen and (min-width: 600px) {
    .calculator-container--display {
        height: 260px;
    }
    .calculator-buttons {
        height: 500px;
    } 
}